body {
    background-color: black;
  }
  h1 {
      position: relative;
      text-align: center;
      top: 25%;
      font-family: 'Courier New', Courier, monospace;
      color:rgb(0, 245, 164);
  }
  h2 {
      position: relative;
      text-align: center;
      top: 25%;
      font-family: 'Courier New', Courier, monospace;
      color:rgb(161, 240, 214);
  }
  h3 {
              color:rgb(199, 253, 235);
              font-family: monospace;
              position:relative;
              top:20px;
              text-align: right
                      }
  a {
      cursor: cell;
      position: relative;
      text-align: center;
      top: 25%;
      font-family: 'Courier New', Courier, monospace;
      color:rgb(161, 240, 214);
  }